{% block doc -%}
    <!DOCTYPE html>
    <html {% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}{% endblock title %}</title>

                {%- block metas %}
                    <meta name="viewport" content="width=device-width">
                {%- endblock metas %}

                {%- block styles %}
                    <!--Import Google Icon Font-->
                    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                    <!--Import materialize.css-->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

                    <!--Import local styles -->
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                {%- endblock styles %}

            {% endblock head %}

        </head>

        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}

            {% block header %}
            {% endblock header %}

            {% block navbar %}
            {% endblock navbar %}

            {% block sidebar %}

                {% block content %}
                {% endblock content %}

            {% endblock sidebar %}

            {% block footer %}
            {% endblock footer %}

            {% block scripts %}
                <!-- Compiled and minified JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            {% endblock scripts %}

        {%- endblock body %}
        </body>

    {% endblock html %}
    </html>


{% endblock doc %}
