@qa, plz review this reminder about the upcoming release. *Thread in any comments*. Add a :thumbsup: response if it is good to go.

```@here REMINDER: We have a release scheduled {{ release_date }} {% if tutor_products %} for {{ tutor_products }} starting at 9:00pm. We'll need developers on deck to help with the releases.{% endif %}  {% if cnx_products %}{{ cnx_products }} will be deployed during the day. {% endif %}```
